<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <%- include meta.ejs %>
    <link rel="stylesheet" type="text/css" href="style/style.css"/>
    <title>KEVONS</title>
  </head>
  <body>
    <!--ENCABEZADO, MARCA-->
    <%- include header.ejs %>
    <!--MENU PRINCIPAL-->
    <%- include menu.ejs %>
    <!--BARRA PRINCIPAL, CARRITO-->
    <%- include barra.ejs %>
    <!--PRODUCTOS-->
    <%- include section.ejs %>
    <!--PIE DE PAGINA-->
    <%- include footer.ejs %>
    <!-- CARRITO DE COMPRAS-->
    <%- include partials/carrito-compras.ejs %>
    <!-- PASARELA DE PAGOS -->
    <%- include partials/pasarela.ejs %>
    <!--SCRIPTS-->
    <%- include scripts.ejs %>
  </body>
</html>