<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <%- include('meta.ejs')%>
    <link rel="stylesheet" type="text/css" href="./style/product.css"/>
    <title>PRODUCTS</title>
  </head>
  <body>
    <!-- HEADER -->
    <%- include('header.ejs')%>
    <!-- MENU PRINCIPAL -->
    <%- include('menu.ejs')%>
    <!-- BARRA PRINCIPAL, CARRITO -->
    <%- include('barra.ejs')%>
    <!-- CATEGORIA DE PRODUCTOS -->
    <%- include('category.ejs')%>
    <!--PRODUCTOS, VARIEDAD, CALIDAD -->
    <%- include('contenido.ejs')%>
    <!-- PIE DE PAGINA -->
    <%- include('footer.ejs')%>
    <!-- CARRITO DE COMPRAS-->
    <%- include partials/carrito-compras.ejs %>
    <script src="./script/script.js"></script>
  </body>
</html>